/* ==========================================================================
   Custom skin
   ========================================================================== */

/* Colors */
$dark-gray: #495057 !default;
$background-color: #fff !default;
$text-color: #212529 !default;
$muted-text-color: $dark-gray !default;
$primary-color: #12b886 !default;
$border-color: mix(#000, $background-color, 10%) !default;
$code-background-color: mix(#868e96, $background-color, 20%) !default;
$code-background-color-dark: mix(#868e96, $background-color, 10%) !default;
$form-background-color: mix(#868e96, $background-color, 15%) !default;
$footer-background-color: #e9ecef !default;
$link-color: mix(#000, $primary-color, 10%) !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

/* solarized light syntax highlighting (base16) */
$base00: #f8f9fa !default;
$base01: #073642 !default;
$base02: #586e75 !default;
$base03: #657b83 !default;
$base04: #839496 !default;
$base05: #586e75 !default;
$base06: #eee8d5 !default;
$base07: #fdf6e3 !default;
$base08: #fa5252 !default;
$base09: #fd7e14 !default;
$base0a: #f59f00 !default;
$base0b: #82c91e !default;
$base0c: #15aabf !default;
$base0d: #228be6 !default;
$base0e: #845ef7 !default;
$base0f: #d33682 !default;
